body {
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    width: 90%;
    margin: 10px 100px;
}

section img {
    width: 70%;
}

.margin {
    margin-right: 100px;
    margin-top: 50px;
}

.heading {
    padding: 10px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-left: 7px solid red;
    border-radius: 7px;
}

.text-color {
    color: goldenrod;
}

.hyper-link {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

#centre {
    text-align: center;
}

.background1 {
    padding: 20px;
    height: 80%;
    border-radius: 15px;
}

.background1 img {
    width: 40%;
}

.b-color1 {
    background-color: rgb(171, 245, 220);
    margin-right: 10px;
}

.b-color2 {
    background-color: bisque;
    margin-right: 10px;
}

.b-color3 {
    background-color: aqua;
}

.background-img {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 100px;
    background-position: center left;
    background-size: 7%;
}

.add-margin {
    margin-left: 80px;
    margin-bottom: 100px;
}

.background-img2 {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20%;
    margin-top: 100px;
    margin-bottom: 0;
}